* display simple data 
* formatted display

In [2]:
name = "Alexamder"
age = 23

In [3]:
print(name)
print(age)

Alexamder
23

In [7]:
print("Your name is",name)
print('you are', age, 'years old')

Your name is Alexamder
you are 23 years old

In [8]:
print("Ayush","Nishant","Kratagya","Amaan")

Ayush Nishant Kratagya Amaan

In [11]:
print("Ayush","Nishant","Kratagya","Amaan", sep="\n")

Ayush
Nishant
Kratagya
Amaan

In [13]:
print("Ayush","Nishant","Kratagya","Amaan", sep=" aur ")

Ayush aur Nishant aur Kratagya aur Amaan

In [16]:
print(1, end=",")
print(2, end=",")
print(3, end=" ")

1,2,3

* f-string = formatted string literals

In [18]:
x = 5
y = 10
z = 20

print(x,'+',y,'=', x+y)

5 + 10 = 15

In [21]:
print(f'{x}+{y} = {x+y}')

5+10 = 15

In [23]:
p1 = "Natasha"
p2 = "Mahak"
print(f'{p1} has {len(p1)} chars')
print(f'{p2} has {len(p2)} chars')

Natasha has 7 chars
Mahak has 5 chars

In [26]:
p3 = "Sam"
print(f'{p1:10} = {len(p1)} chars')
print(f'{p2:10} = {len(p2)} chars')
print(f'{p3:10} = {len(p3)} chars')

Natasha    = 7 chars
Mahak      = 5 chars
Sam        = 3 chars

In [27]:
print(f'{p1:>10} = {len(p1)} chars')
print(f'{p2:>10} = {len(p2)} chars')
print(f'{p3:>10} = {len(p3)} chars')

   Natasha = 7 chars
     Mahak = 5 chars
       Sam = 3 chars

In [28]:
print(f'{p1:^10} = {len(p1)} chars')
print(f'{p2:^10} = {len(p2)} chars')
print(f'{p3:^10} = {len(p3)} chars')

 Natasha   = 7 chars
  Mahak    = 5 chars
   Sam     = 3 chars

In [32]:
pi = 22/7
print(f'the value of pi is {pi}')
print(f'the value of pi is {pi:.6f}')
print("ðŸ”¥ðŸ”¥ðŸ”¥ðŸ”¥") # win + .

the value of pi is 3.142857142857143
the value of pi is 3.142857
ðŸ”¥ðŸ”¥ðŸ”¥ðŸ”¥

In [34]:
city = input("Which city do you live in? ")
print("Name of city = ", city)

Name of city =  Lucknow

# Type casting

In [35]:
a = 10 
print(type(a))
a = bool(a) #convert a to boolean
print(a,type(a))

<class 'int'>
True <class 'bool'>

In [36]:
a = "100001"
print(a,type(a))
a = int(a)
print(a, type(a))

100001 <class 'str'>
100001 <class 'int'>

In [37]:
pi = int(pi)
print(pi, type(pi))
pi = float(pi)
print(pi, type(pi))

3 <class 'int'>
3.0 <class 'float'>

In [38]:
print(f'{pi:.15f}')

3.000000000000000

In [39]:
a = int(input('Enter a: '))
b = int(input('Enter b: '))
print(a ** b)

5764801