In [1]:
x = 5

# Datatypes
- int
- float
- str
- bool
- nonetype
- list
- tuple
- dict
- set

In [2]:
a = "apple"

In [3]:
a = "1000"

In [4]:
a = "3.545"

In [5]:
b = True

In [7]:
b = None

In [11]:
b = [1,2,3]

In [10]:
c = (1,2,3)

In [12]:
d = {1,2,3}
e = {'a':'apple','b':'banana'}

# Operators in python
- arithmetic 
- assignment 
- logical
- identity
- membership
- bitwise X
- comparision

In [19]:
a = 10
b = 3

In [20]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

In [22]:
a = 10 
print(a)
a -= 2
print(a)
a += 2
print(a)
a *= 2
print(a)
a /= 2
print(a)
a //= 2
print(a)
a **= 2
print(a)
a %= 2
print(a)

10
8
10
20
10.0
5.0
25.0
1.0

In [23]:
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)
print(a != b)
print(a == b)
print(0 < a < 20)

False
True
True
False
True
False
True

In [26]:
name = 'Raju'
age = 19

In [27]:
print(name == 'Raju' and age >= 18)

True

In [33]:
a = [1,2,3]
b = a
c = a.copy()

In [34]:
print (a is b)
print (b is c)
print (a is c)

True
False
False

In [35]:
name = "William Shakespeare"

print('pear' in name)
print('shake' in name)
print('Shake' in name)

True
False
True

In [36]:
colors = ["Red","Green","Blue"]
print('Red' in colors)
print('Green' in colors)
print('Blue' in colors)

True
True
True

In [37]:
p = 12000
r = 7
t = 2
si = p*r*t/100
print(si)

1680.0