# Lopps
* FOR
- step based loop👍
    - repeating a step
    - enumeration
    - traversing iterables
* WHILE
* condition based loop 👌

In [1]:
range(1,20)

range(1, 20)

# for var in iterables:
---statements

In [5]:
for item in range(10):
     print(item, end = ', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [6]:
for i in range (-10,10):
    print(i,end= ' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

In [8]:
for i in range (-10,10,2):
    print(i,end= ' ')

-10 -8 -6 -4 -2 0 2 4 6 8

In [9]:
# reverse
for i in range(15,0,-1):
    print(i, end= ' ')

15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [11]:
for i in range(2, 100,2):
    print(i,end = ", ")

2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98,

In [12]:
for _ in  range (5):
    print('hello')

hello
hello
hello
hello
hello

In [13]:
# all variables are iterable
name = "Albert Einstein"
words = ["Hi", "Hello", "Hola", "Aloha"]# List
colors = ('red','yellow','blue')# tuple
numbers = (1,2,3,4,5,6,7,8,9)# set

In [15]:
for char in name :
    print(char, end=' ')
print()
for word in words:
    print(word, end=' ')
print()
for c in colors:
    print(c,end= ' ')
print()
for i in numbers:
    print(i,end=' ')

A l b e r t   E i n s t e i n
Hi Hello Hola Aloha
red yellow blue
1 2 3 4 5 6 7 8 9

In [21]:
# enumerate
names = ['Harsh','Ayush','Aman','Naman','Kratagya','Shashank','Tushar','Shivansh']
for idx, val in enumerate(names):
    print(idx, val)

0 Harsh
1 Ayush
2 Aman
3 Naman
4 Kratagya
5 Shashank
6 Tushar
7 Shivansh

In [22]:
surnames = ['Srivastava','Singh','Raza','Jaiswal','Jaiswal','Gupta','Saxena','Srivastava']
for fname, lname in zip(names, surnames):
    print(fname, lname)

Harsh Srivastava
Ayush Singh
Aman Raza
Naman Jaiswal
Kratagya Jaiswal
Shashank Gupta
Tushar Saxena
Shivansh Srivastava

In [24]:
x = [1,2,0,3,0,4,5,0,6,7]
for i in x:
    if i == 0 or i == 5:
        continue
    print(i, end=' ')

1 2 3 4 6 7

In [25]:
for i in x:
    if i == 0:
        break
    print(i,end =' ')

1 2

In [26]:
x = []
for i in x:
    print(i, end = ' ')

In [30]:
# for - else
for i in range(5):
    name = input('Enter any name of person: ')
    if name:
        print(f'Hello {name}')
    else: 
        break
else:
    print("well done🔥🔥")

Hello Ayush
Hello Shivansh
Hello Manak
Hello Mayanak
Hello Shashank
well done🔥🔥

In [35]:
n = 0 
while n < 100:
    print(n)
    n += 10
    if n == 50:
        break
        print(n,end =" ")

0
10
20
30
40

In [38]:
# infinite loop controlled by user
while True:
    num = int(input("enter a number greater than 100: "))
    if num>100:
        print(f'{num}👍👍')
    else:
        print(f'{num}😒')
        break

7484👍👍
748484👍👍
0😒

In [39]:
for i in range (13):
    print(i * "*")

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [1]:
colors = ('red','blue','green')
for item in colors:
    print(item)

red
blue
green

In [6]:
n = [1,2,3,4,5,6,7,8,9]
for i in n:
    print(i+10, end= " ")

11 12 13 14 15 16 17 18 19

In [12]:
for _ in range(10):
    print("hello", end = "😒😒 ")

hello😒😒 hello😒😒 hello😒😒 hello😒😒 hello😒😒 hello😒😒 hello😒😒 hello😒😒 hello😒😒 hello😒😒

In [1]:
for i in range(5,100,10):
    print(i)

5
15
25
35
45
55
65
75
85
95

In [4]:
for i in range(100,0, -10):
    print(i)

100
90
80
70
60
50
40
30
20
10

In [9]:
for i in range (1,11):
    print(f'2 * {i} = {2*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

- while loop example

In [3]:
# sum of all digits
number = 1239129
total = 0
while number > 0:
    rem = number % 10
    total += rem
    number = number // 10
print(total)

27

In [4]:
number = 223
sum(map(int,list(str(number))))

7

continue and break

In [5]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [6]:
data = [1,2,0,3,4,0,1,2,2,0,1,0,]
for i in data:
    if i == 0:
        continue
    print(i, end = ' ')

1 2 3 4 1 2 2 1

In [8]:
for i in range (5,500):
    if i % 10 == 0:
        break
    print(i,end = ' ')

5 6 7 8 9

In [9]:
data = [12,23,45,23,1,213,12,45,'',2,1,4,56]
for i in data:
    if i == '':
        print('data is not clean')
        break
    print(i)

12
23
45
23
1
213
12
45
data is not clean

In [8]:
for num in range (2,101):
    is_prime = True
    for i in range(2,int(num**0.5)+1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [17]:
for n in range(2,100):
    for i in range (2,n):
        if n % i == 0:
            break
    else:
            print(f"{n}is prime")

2is prime
3is prime
5is prime
7is prime
11is prime
13is prime
17is prime
19is prime
23is prime
29is prime
31is prime
37is prime
41is prime
43is prime
47is prime
53is prime
59is prime
61is prime
67is prime
71is prime
73is prime
79is prime
83is prime
89is prime
97is prime