* Indexed,ordered,mutable,allows duplicate members,'[ ]'

- creating
- indexing and slicing
- methods
- traversal

In [1]:
x = [] # empty list
a = [1,2,3,4,5] # List of integers
names = ['Alex', 'Arti','Anupam']# List of strings
mixed = [1,'Alex',2,'Arti']# List of mixed datatypes
nested = [1,[2,3],4] # nested list

In [2]:
# creating a duplicated list
a = [1,2,3]
b = [a,a,a]
print(b)
# another way to create a duplicated list without nesting
c = a*5
print(c)
# another one
d = [1]*10
print(d)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[0])# first element
print(numbers[-1])# last element 
print(numbers[:5])# first five element 
print(numbers[-5:])# last five element 
print(numbers[1::2])# odd indexed elements
print(numbers[::2])# even indexed element
print (numbers[::-1])# reverse the list

1
10
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
print(numbers[6::-1])
print(numbers[:7][::-1])

[7, 6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]

# methods in list - 11
- adding elements
    - append
    - extend
    - insert
- removing elements
    - pop
    - remove
    - clear
- utility methods
    - index 
    - count
    - sort
    - reverse
    - copy

In [12]:
x.append('apple')
print(x)
print(x)

['apple', 'banana', 12, 'apple']
['apple', 'banana', 12, 'apple']

In [13]:
x.append('banana')
print(x)

['apple', 'banana', 12, 'apple', 'banana']

In [14]:
x.append(12)
print(x)

['apple', 'banana', 12, 'apple', 'banana', 12]

In [16]:
books = []
for i in range (5):
    books.append(input('Enter a book: '))
print(books)

['vikram betaal', 'chacha chaudhary', 'raat pashmeene ki, by gulzaar', 'horse riding', 'eidgah']

In [29]:
movies = [ ]
for i in range (7):
    movies.append(input('Enter any movie name: '))
print(movies)

['Pk', 'Vatsav', 'Yevadu', 'Avengers', 'Infinity war', 'Thor', 'Hulk']

In [32]:
more_movies = ['Yevadu','Soldier','Jawan']

In [33]:
movies.extend(more_movies)
movies

['Pk',
 'Vatsav',
 'Yevadu',
 'Avengers',
 'KHALNAYAK',
 'Thor',
 'Hulk',
 'Yevadu',
 'Soldier',
 'Jawan']

In [37]:
movies[-3] = "KHALNAYAK"
movies

['Pk',
 'Vatsav',
 'Yevadu',
 'Avengers',
 'KHALNAYAK',
 'Thor',
 'Hulk',
 'KHALNAYAK',
 'Soldier',
 'Jawan']

In [38]:
movies.insert(-2,'AVengers')
movies

['Pk',
 'Vatsav',
 'Yevadu',
 'Avengers',
 'KHALNAYAK',
 'Thor',
 'Hulk',
 'KHALNAYAK',
 'AVengers',
 'Soldier',
 'Jawan']

In [40]:
movies.pop(-1)
movies

['Pk',
 'Vatsav',
 'Yevadu',
 'Avengers',
 'KHALNAYAK',
 'Thor',
 'Hulk',
 'KHALNAYAK',
 'AVengers',
 'Soldier']

In [48]:
if 'Vatsav' in movies:
    movies.remove('Vatsav')
movies

['Pk',
 'Yevadu',
 'Avengers',
 'KHALNAYAK',
 'Thor',
 'Hulk',
 'KHALNAYAK',
 'AVengers']

In [47]:
movies.pop()

'Soldier'

In [49]:
movies.pop(2)

'Avengers'

In [50]:
movies

['Pk', 'Yevadu', 'KHALNAYAK', 'Thor', 'Hulk', 'KHALNAYAK', 'AVengers']

# utility methods
- index
- count
- sort 
- revrse
- copy

In [4]:
x = [101,102,103,104,105,101,102]
print(x.index(101))
print(x.index(102,2))
print(x.index(101,0,3))

0
6
0

In [5]:
print(x.count(101))
print(x.count(103))
print(x.count(102))

2
1
2

In [6]:
x.reverse()
print(x)

[102, 101, 105, 104, 103, 102, 101]

In [8]:
x.sort()
print(x)

x.sort(reverse=True)
print(x)

[101, 101, 102, 102, 103, 104, 105]
[105, 104, 103, 102, 102, 101, 101]

In [9]:
x1 = x.copy()
print(x1)
print(x)
x.append(106)
x1.remove(105)
print(x)
print(x1)

[105, 104, 103, 102, 102, 101, 101]
[105, 104, 103, 102, 102, 101, 101]
[105, 104, 103, 102, 102, 101, 101, 106]
[104, 103, 102, 102, 101, 101]