function vs method

- functions
    - functions are a block of code that does a particular operation and does a return,
    - functions are used directly without the need of creating the variable object first

- methods 
    - methods are a function that are associated with a variabel(object)
    - methods cannot be used directly
    - they need to be called using the variable (object) they are associated with

In [4]:
print("Hello World")
print('Hello world'.upper())

Hello World
HELLO WORLD

String methods
- formattingðŸ¦´
    - upper()
    - lower()
    - capitalize()
    - title()
    - swapcase()
    - casefold()
- validationðŸ¦´
    - isalpha()
    - isalnum()
    - isnumeric()
    - startswith()
    - endswith()
    - islower()
- searchingðŸ¦´
    - find()
    - count()
    - replace()
- utilityðŸ¦´
    - split()
    - join()
    - strip()
    - removeprefix()
    - removesuffix()

In [14]:
msg = 'This is Sparta'
# msg = msg.lower()
print(msg.lower())
print(msg.upper())
print(msg.capitalize())
print(msg.title())
print(msg.casefold())
print(msg.swapcase())

this is sparta
THIS IS SPARTA
This is sparta
This Is Sparta
this is sparta
tHIS IS sPARTA

In [16]:
print('abc123'.isalnum())

True

In [17]:
num1 = input('Enter a number: ')
if num1.isnumeric():
    print("input is correct")
    num1 = int(num1)
else:
    print('input is not correct')

input is correct

In [18]:
name = "Dr. christopher brooks"
name.startswith('Dr.')

True

In [23]:
names = ('Chris', 'Christina', 'Christian','Chiranjeevi','Kayden')
for name in names:
    if name.startswith('Kay'):
        print(name)

Kayden

In [30]:
data = 'this is a long string with some content and is simple string'
print(data.find('this'))
print(data.find('on',15))
print(data.find('simple', 5, 30)) # start, end

0
33
-1

In [33]:
print(data.count('is'))
print(data.count('a'))
print(data.count('long'))

3
2
1

In [34]:
data.replace('is','was')

'thwas was a long string with some content and was simple string'

In [35]:
data.replace('i','a').replace('e','o')

'thas as a long strang wath somo contont and as samplo strang'

In [37]:
# replace used as remove
data.replace('i','').replace('e','').replace('o','')

'ths s a lng strng wth sm cntnt and s smpl strng'

In [42]:
print(data.split('i'))
print(data.split('maxsplit=3'))
"apple,banana,orange".split(',' )

['th', 's ', 's a long str', 'ng w', 'th some content and ', 's s', 'mple str', 'ng']
['this is a long string with some content and is simple string']

['apple', 'banana', 'orange']

In [43]:
print(len(data.split()))

12

In [1]:
x = ['1',"2","3",'4','5','6']
print("".join(x))
print(' '.join(x))
print(','.join(x))
print('_'.join(x))

123456
1 2 3 4 5 6
1,2,3,4,5,6
1_2_3_4_5_6

In [2]:
x = ' alpha beta gama '
print(len(x),x)
x = x.strip()
print(len(x),x)

y = '\n alpha beta gama \n'
print(len(y),y)
y = y.strip()
print(len(y),y)

z = '@@@ alpha#beta@gama ###'
print(len(z),z)
z = z.strip('@# ')
print(len(z),z)

17  alpha beta gama
15 alpha beta gama
19
 alpha beta gama

15 alpha beta gama
23 @@@ alpha#beta@gama ###
15 alpha#beta@gama

In [4]:
username = '@sachin_001'
c1_username = username.strip('@ ')
print(c1_username)

sachin_001

In [6]:
name = 'Mr. Umesh Kumar Mr'
name = name.removeprefix('Mr. ')
print(name)

Umesh Kumar Mr

In [7]:
files = ['one.docx','two.xls','three.ppt','four.docx','five.docx','six.xls']
for file in files:
    file = file.removesuffix('.docx').removesuffix('.xls').removesuffix('.ppt')
    print(f'->{file} ')

->one
->two
->three
->four
->five
->six