# string
- creating
- indexing and slicing
- methods
   *-formatting
   -validation
   -searching 
   -utilities
- operations

In [1]:
a = 'apple' # single quotes
b = 'Banana' # double quotes

c = '''this is an example of
a multiline
string''' #triple quotes

d = """another example
of a 
multiline string""" # triple quotes
 
print(type(a),type(b),type(c),type(d))
print(a)
print(b)
print(c)
print(d)

<class 'str'> <class 'str'> <class 'str'> <class 'str'>
apple
Banana
this is an example of
a multiline
string
another example
of a
multiline string

In [2]:
# msg = 'the hippo was 5' feet tall'
msg = 'the hippo was 5\' tall'  # escape character
print(msg)
msg = "the hippo was 5' tall"  # use double quotes
print (msg)

the hippo was 5' tall
the hippo was 5' tall

In [7]:
name = 'alexander' # iterable
print(len(name))
print(name[0]) # index 0 of name variable
print(name[-4]) # indexing from right to left

9
a
n

In [10]:
print(name[0],name[1],name[2],name[3], sep = 'üëç')

aüëçlüëçeüëçx

# slicing 
- syntax
- '''
    str[start:stop+1]
    str[start:stop+1:step]
    str[: stop+1] # starts defaults to 0
    str[start:] # stop defaults to len(str)'''

In [11]:
name [0:5] # get the values at 0,1,2,3,4

'alexa'

In [12]:
n2 = 'Leonardo da Vinci'
print(n2[:8])
print(n2[-5:])
print(n2[-8:])
print(n2[-8:-6])
print(n2[9:11])

Leonardo
Vinci
da Vinci
da
da

In [21]:
n3 = 'Vijay Deenanath Chauhan'
print(n3[:5])
print(n3[6:15])
print(n3[16:23])
print(n3[6:10])
print(len(n3))

Vijay
Deenanath
Chauhan
Deen
23

* slicing with steps

In [22]:
n3[::2] # every other character

'VjyDeaahCahn'

In [23]:
n3[1::2] # odd index characters

'ia ennt hua'

In [24]:
n3[1:10:3] # 1,4,7, (stop at 10)

'iye'

In [25]:
n3[::-1] # reverse the string

'nahuahC htananeeD yajiV'

In [28]:
quote = '''This is a quote from brandon sanderson,
"I'm not meant to work or job anywhere"'''
print(quote[-50])

print(quote[:50])

print(quote[:500])

s
This is a quote from brandon sanderson,
"I'm not m
This is a quote from brandon sanderson,
"I'm not meant to work or job anywhere"

random questions

In [31]:
# fibonacci sequence 
a,b = 1,2
print(a,b,end = ' ')
for i in range (10):
    c = a+b
    print(c,end = ' ')
    # swap values
    a = b
    b = c

1 2 3 5 8 13 21 34 55 89 144 233

In [36]:
print(ord('A'),ord('ü§£'))  # unicode/ascii
print(chr(65),chr(97),chr(129315))

65 129315
A a ü§£